/* App.css */
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Chopsic';
  background-color: #f0f0f0;
  color: #333;
}

.app-container {
  width: 80%;
  margin: 0 auto;
  padding-top: 40px;
}

.header {
  text-align: center;
  padding-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* App.css */

/* ... Other existing styles ... */

.portfolio-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 1080px;
}

.portfolio-image {
  border-radius: 10px 10px 0 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Update or add styles for other components as per your preference */
